<div class="chatbox">
   <div class="chat-view">
       <div class="chat-header">
           <h2> Conversazione {{ activeConversation?.conversation_id }}</h2>
       </div>
        <div class="messages-area">
            <div *ngFor="let message of messages$ | async" 
                class="message"
                [ngClass]="{
                'user-message': message.sender === 'user',
                'assistant-message': message.sender === 'assistant'
                }">
                <div class="message-content">
                    {{ message.content }}
                </div>
            </div>
        </div>
        <div class="input-area">
            <input 
                type="text" 
                [(ngModel)]="messageText"
                placeholder="Scrivi un messaggio..." 
                (keypress)="onKeyPress($event)">
            <button class="send-button" 
                (click)="sendMessage()"
                [disabled]="isWaitingResponse">Invia</button>
       </div>
   </div>
</div>